<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Счёт матча</title>
</head>

<body>
    <h1>Теннисный матч</h1>


    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Игрок</th>
                <th>Выигранные сеты</th>
                <th>Выигранные геймы (в сете)</th>
                <th>Очки в текущем гейме</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            <!-- Игрок 1 -->
            <tr>
                <td>{{name1}}</td>
                <td id="sets_player1">{{score1.sets}}</td>
                <td id="games_player1">{{score1.games}}</td>
                <td id="points_player1">{{score1.points}}</td>
                <td>
                    <form method="POST" action="/score">
                        <input type="hidden" name="player_id" value="{{ match.player1_id }}">
                        <input type="hidden" name="match_id" value="{{ match.id }}">
                        <button type="submit">+</button>
                    </form>
                </td>
            </tr>

            <!-- Игрок 2 -->
            <tr>
                <td>{{name2}}</td>
                <td id="sets_player1">{{score2.sets}}</td>
                <td id="games_player1">{{score2.games}}</td>
                <td id="points_player1">{{score2.points}}</td>
                <td>
                    <form method="POST" action="/score">
                        <input type="hidden" name="player_id" value="{{ match.player2_id }}">
                        <input type="hidden" name="match_id" value="{{ match.id }}">
                        <button type="submit">+</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <ul>
        <li><a href="/newmatch">Начать новый матч</a></li>
        <li><a href="/matches">Сыгранные матчи</a></li>
    </ul>
    {% if match.winner %}
    <h2>Победитель матча – {{match.winner}}</h2>
    {% endif %}
</body>

</html>