<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Счёт матча</title>
</head>

<body>
    <h1>Теннисный матч</h1>


    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Игрок</th>
                <th>Выигранные сеты</th>
                <th>Выигранные геймы (в сете)</th>
                <th>Очки в текущем гейме</th>
                <th>Действие</th>
            </tr>
        </thead>
        {% set name1 = match.player1.name%}
        {% set name2 = match.player2.name%}
        <tbody>
            <!-- Игрок 1 -->
            <tr>
                <td>{{name1}}</td>
                <td id="sets_player1">{{match.score[name1].sets}}</td>
                <td id="games_player1">{{match.score[name1].games}}</td>
                <td id="points_player1">{{match.score[name1].points}}</td>
                <td>
                    <form method="POST" action="/score">
                        <input type="hidden" name="player_name" value="{{ name1 }}">
                        <input type="hidden" name="match_id" value="{{ match.id }}">
                        <button type="submit">+</button>
                    </form>
                </td>
            </tr>

            <!-- Игрок 2 -->
            <tr>
                <td>{{name2}}</td>
                <td id="sets_player1">{{match.score[name2].sets}}</td>
                <td id="games_player1">{{match.score[name2].games}}</td>
                <td id="points_player1">{{match.score[name2].points}}</td>
                <td>
                    <form method="POST" action="/score">
                        <input type="hidden" name="player_name" value="{{ name2 }}">
                        <input type="hidden" name="match_id" value="{{ match.id }}">
                        <button type="submit">+</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>