<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Новый матч</title>
</head>

<body>
    <h1>Новый матч</h1>
    <form action="/newmatch" method="POST">
        <label for="player1">Имя первого игрока:</label>
        <input type="text" id="player1" name="player1" required>
        <br><br>

        <label for="player2">Имя второго игрока:</label>
        <input type="text" id="player2" name="player2" required>
        <br><br>
        <button type="submit">Начать матч</button>
        {% if error %}
        <br> Ошибка! Имя игрока должно быть заполнено!<br>
        {% endif %}
    </form>
</body>

</html>