<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Счёт матча</title>
</head>
<body>
    <h1>Теннисный матч</h1>

    
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Игрок</th>
                <th>Выигранные сеты</th>
                <th>Выигранные геймы (в сете)</th>
                <th>Очки в текущем гейме</th>
                <th>Тайбрейк</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            <!-- Игрок 1 -->
            <tr>
                <td>{{player1}}</td>
                <td id="sets_player1">{{sets_1}}</td>
                <td id="games_player1">{{games_1}}</td>
                <td id="points_player1">{{scores_1}}</td>
                <td id="tbreak_player1">{{tbreak_1}}</td>
            </tr>
            
            <!-- Игрок 2 -->
            <tr>
                <td>{{player2}}</td>
                <td id="sets_player2">{{sets_2}}</td>
                <td id="games_player2">{{games_2}}</td>
                <td id="points_player2">{{scores_2}}</td>
                <td id="tbreak_player2">{{tbreak_2}}</td>
            </tr>
        </tbody>
    </table>
    <h2>Победитель матча – {{winner}}</h2>
    <ul>
        <li><a href="/newmatch">Начать новый матч</a></li>
        <li><a href="/matches">Сыгранные матчи</a></li>
    </ul>
</body>
</html>
